/* .head{
            color: rgb(25, 23, 27);
            background-color: rgb(202, 27, 27);

 
  font-family: "Montserrat", sans-serif;
 
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button{
  width: 100px;
}
      */